<div style="display:flex; flex-direction: row; column-gap: 20px; align-items:center">
    @if (User?.Expiring == true)
    {
        <MudText Typo="Typo.h6" Style="color:mediumvioletred" Class="ml-2">@($"In scadenza : {User?.ExpirationDate.Value.ToString("dd/MM/yyyy")}")</MudText>
    }
    <MudText Style="color:white" Class="ml-2">@User?.RagioneSociale</MudText>
    <MudAvatar Size="Size.Medium" Image="@imageJpgDataURL" />
</div>

@code {
    [Parameter]
    public Agente User { get; set; }

    string imageJpgDataURL;

    protected override async Task OnInitializedAsync()
    {
        if (User != null)
        {
            await GetJpegImage();
        }
    }

    async Task GetJpegImage()
    {
        if (User.Avatar != null)
        {
            var imageSrc = Convert.ToBase64String(User.Avatar);
            imageJpgDataURL = string.Format("data:image/jpeg;base64,{0}", imageSrc);
        }
    }

    public async Task LoadAvatar()
    {
        await GetJpegImage();
    }

}
