@inject NavigationManager _NavigationManager

<PageTitle>Not Found</PageTitle>

<MudCard Class="border-b-8 border-solid mud-border-warning">
    <MudCardContent>
        <MudGrid Spacing="1">
            <MudItem xs="12" Class="d-flex justify-center pa-0">
                @*<MudText Typo="Typo.h1" Color="Color.Warning">404</MudText>*@
                <div id="error">
                    <div class="error">
                        <div class="error-404">
                            <h1><span>4</span><span>0</span><span>4</span></h1>
                        </div>
                    </div>
                </div>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center pa-0">
                <MudIcon Icon="@Icons.Material.Filled.Warning" Color="Color.Warning" Size="Size.Large" Class="align-self-center"/>
                <MudText Typo="Typo.h4" Class="mx-4">Pagina non trovata</MudText>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center pa-0">
                    <MudButton StartIcon="@Icons.Material.Filled.ArrowBack" aria-label="delete"  OnClick="@BackToHomePage">Indietro</MudButton>
                </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

@code{
    [Parameter]
        public Exception? Exception { get; set; }
        [Parameter]
        public EventCallback RecoverRequest { get; set; }
    private void BackToHomePage()
        {
            RecoverRequest.InvokeAsync();
            _NavigationManager.NavigateTo(@"\", forceLoad: true);
        }
}